/* .q0{
    
   visibility:show;
   
}



.q1{
    dispay:none;
   visibility:hidden;
   
}
*/
body{
background:pink;
}
.q2{
    
   dispay:none;
   visibility:hidden;
}

.q3{
    
   dispay:none;
   visibility:hidden;
}



.q4{
    
   dispay:none;
   visibility:hidden;
}

.q5{
    
   dispay:none;
   visibility:hidden;
}







